doctype html
html(lang="en")
    head
        title Welcome
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="Amir Tavakoli, Design, User, Experience, Personal, Branding")
    body
        block header
            include ../components/header
        block content
        bio-grapy
        block footer
            include ../components/footer
    script(src="main.bundle.js")
    script(src="print.bundle.js")