.main-layout{
  display: flex;
  flex-flow: column;
  background-color: rgb(230, 230, 230);
  background-repeat: no-repeat;
  background-size: cover;
  animation: at-layout .2s ease-in-out;
  min-height: 100%; 
}
.main-layout--blue{
   background-color:#e4ebee;
}

.main-layout__content{
  width:100%;
  box-sizing: border-box;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes at-layout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}