@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/normalize.css/normalize.css';
@import './fonts';
@import './variables';
@import './mixins';
@import './icomoon';
@import './canvas.scss';
@import './logo.scss';
@import './avatar.scss';
@import './menu.scss';
@import './toggle-menu.scss';
@import './biography_welcome.scss';
@import './about.scss';

body{
    background-color: $background-color;
    font-family: $montserrat;

    button{
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}



