.biography__canvas{
    width: 100%;
    position: absolute;
    height: 100vh;
}
.perspective__container{
    perspective: 40px;
}
.biography__welcome{
    margin: 0 auto;
    width: 429px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.biography__welcome.image{
    position: absolute;
    z-index: 2;
    padding: 140px 0px 0px 0px;
}
.biography__welcome.text{
    font-family: Montserrat;
    line-height: 0.4;
    font-size: 29pt;
    color: white;
    text-align: justify;
    position: absolute;
}