@import './variables';

.__canvas{
    height: 100%;
    .__section{
        z-index: 30;
        position: absolute;
        padding: 2.4rem 2.5rem;
        width: 100%;
    }
    .__top{
        top:0;  
      
    }
    .__bottom{
        bottom: 0;
        color: $primary-foreground-color;
        .__social_links{
            // transform: rotate(-90deg) translatey(100%);
            // transform-origin: left bottom;
            text-align: center;
            padding: 8px 0;
        }
        .__copyright{
            text-align: center;
            font-size: $extra-small;
        }
    }
}