@import './variables';

.menu__page{
    background-color: black; 
    min-height: 100vh;
    justify-content: center;
    z-index: 400;
}
.menu__page.contents a{
    color: white;
    font-size: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
}
.dash{
    font-size: 10px;
    display: flex;
    color: white;
    align-items: center;
    width: 50px;
    justify-content: center;
}
.menu__close{
    position: absolute;
}
